header{
    background-color: rgb(104, 103, 172);
    border: 5px;
    width: 1225px;
    height: 200px;
    border-radius: 10px;
}

#logo{
    background-color: rgb(206, 123, 176);
    width: 80px;
    height: 80px;
    float: right;
    margin: 5px;
}

nav{
    background-color: rgb(162, 103, 172);;
    width: 350px;
    height: 600px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}


section{
    background-color: rgb(162, 103, 172);
    width: 857px;
    height: 600px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}